<ion-header>
  <ion-toolbar>
    <ion-title>
    	<span >Login Page</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
	<div class="form-wrapper">
		<div style="padding-top: 45px; padding-bottom: 20px;">
			<img src="/assets/naicha-logo-1.jpg" style="width: 100%; height: auto;">
		</div>

		<div class="container">
			<input type="text" class="custom-input border-white bg-transparent text-white" placeholder="Enter Username Here..." name="" [(ngModel)]="loginForm.email">
			<p></p>

			<input type="password" class="custom-input border-white bg-transparent text-white" placeholder="Enter Password Here..." name="" [(ngModel)]="loginForm.password">
			<p></p>
		</div>
			
			

		<div class="content-wrapper" style="padding-top: 10px;">
			<ion-button expand="block" color="tertiary" (click)="handleLoginSubmission()">Login Account</ion-button>
		</div>
	</div>
</ion-content>
