<ion-header>
  <ion-toolbar>
    <ion-title>
     Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color = "primary">
<div class="form-wrapper">
   <div style="padding-top: 45px; padding-bottom: 20px;">
			<img src="/assets/naicha-logo-1.jpg" style="width: 100%; height: auto;">
		</div>
<div style = "padding: 0px 10px;">
	<ion-button routerLink = "/user-management" expand="block" color="tertiary">User Management</ion-button><br>
<ion-button routerLink ="/inventory" expand="block" color="tertiary" >Inventory</ion-button><br>
<ion-button expand="block" routerLink = "/settings" color="tertiary" >Settings</ion-button><br>
<ion-button expand="block" color="tertiary" >Log Out</ion-button><br>
</div>
</div>

</ion-content>
